<%- include("partials/header") -%>
<h1>Contact</h1>
<br>
<a href="mailto:sdijaun@gmail.com"><%=contactParagraph%></a>
<br>
<a href="https://github.com/dijaunsmith"><%=github%></a>
<br>
<a href="https://www.linkedin.com/in/dijaunsmith731/"><%=linkedIn%></a> 
<br>
<a href="https://dijaunsmith.github.io/Di-JaunSmith/"><%=portfolio%> </a>
<%- include("partials/footer") -%>
